.upload-sidebar {
  width: 250px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
}

.upload-sidebar h3 {
  margin-bottom: 20px;
}

.upload-sidebar ul {
  list-style: none;
  padding: 0;
}

.upload-sidebar li {
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
}

.upload-sidebar li:hover,
.upload-sidebar li.active {
  background: #1e293b;
}
